# Ignore everything by default
*

# Include important project files
!LICENSE
!README.md
!SECURITY.md
!.gitignore

# Include configuration files
!.pre-commit-config.yaml
!.yamllint.yaml

# Include GitHub configuration
!.github/
!.github/**

# Include documentation
!doc/
!doc/**

# Include scripts
!scripts/
!scripts/**

# Include source code
!src/
!src/**

# Include templates
!templates/
!templates/**
