*
!scripts/
!release-notes/
!src/
!LICENSE
!README.md
!release-notes/release-notes.md
!doc/**
!scripts/pecu_release_selector.sh
!scripts/pecu_release_selector_old.sh
!scripts/versions.conf
!src/proxmox-configurator.sh
!.gitignore
